.t_row:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.t_row {
  height: 56px;
}

.value {
  padding: 13px 10px 13px 20px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--white);
}
@media only screen and (min-width: 768px) {
  .value_strong:nth-child(5) {
    padding: 13px 0 13px 20px;
    text-align: right;
  }
}
@media only screen and (min-width: 1280px) {
  .value_strong:nth-child(5) {
    padding: 16px 0 16px 20px;
    text-align: right;
  }
}

@media only screen and (min-width: 1280px) {
  .value {
    padding: 16px 10px 16px 20px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--white);
  }
}

.type {
  display: block;
  margin-left: 18px;
}
.value_end {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 8px;
}
.value_type {
  display: block;
  margin-left: 16px;
}

.value_strong {
  padding: 13px 10px 13px 24px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
}
.minus {
  color: var(--dashboard-text);
  padding-left: 20px;
}
.plus {
  color: var(--yellow);
  padding-left: 20px;
}

.btn_edit {
  background-color: transparent;
  color: var(--white);
}
.undelete_toast {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.delete_btn {
  padding: 5px;
  font-weight: 600;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--dashboard-text);
}
.undelete_btn {
  background-color: var(--icon-violet);
  padding: 5px;
  font-weight: 600;
  border-radius: 5px;
  color: var(--white);
}
