.backdrop {
  position: fixed;
  background-color: #38254e;
  opacity: 0.4;

  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000;
}

.loader {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
}
