.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19px;
  color: var(--white);
  margin: 0;
  img {
    width: 26px;
    height: 26px;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
    img {
      width: 36px;
      height: 36px;
    }
  }
}

.headerLogo {
  font-size: 12px;
  img {
    width: 18px;
    height: 18px;
  }
}

@media only screen and (min-width: 768px) {
  .headerLogo {
    font-size: 17px;
    img {
      width: 25px;
      height: 23px;
    }
  }
}
