.table {
  width: 295px;
  td {
    display: flex;
    align-items: center;
  }
  @media only screen and (min-width: 768px) {
    width: 336px;
  }
  @media only screen and (min-width: 1280px) {
    width: 395px;
  }
}

.heading {
  width: 100%;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 18px;
  font-weight: 600;
  background: rgba(82, 59, 126, 0.6);
  box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  tr {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    line-height: normal;
  }
}
.tableBody {
  padding: 0 16px;
  font-size: 14px;
  tr {
    text-align: left;
  }
}
.tableFooter {
  padding: 16px;
  tr {
    padding: 16px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    .stat_text {
      color: var(--white);
      font-weight: 600;
    }
  }
}
.expences {
  color: #ff868d;
}
.income {
  color: #ffb627;
}
