/* .wrapper {
  z-index: 10000;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);
  background: rgba(34, 13, 91, 0.23);
} */

.modal {
  position: absolute;
  top: 60px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin: 0 auto;
  padding: 238px 20px;
  background-image: url('../../images/addTrn/add-edit-mob1x.webp');
  background-color: var(--form-color);
  background-repeat: no-repeat;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: var(--form-color);
  background-size: cover;
}
@media only screen and (min-resolution: 192dpi) {
  .modal {
    background-image: url('../../images/addTrn/add-edit-mob2x.webp');
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    border-radius: 8px;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 533px;
    height: 447px;
    padding: 60px 117px;
    background-position: -65px -55px;
    background-size: 130% 130%;
    background-image: url('../../images/logout/logout-modal-tab@1x.webp'),
      url('../../images/logout/logout-modal-circle-tab@1x.webp');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .modal {
    background-image: url('../../images/logout/logout-modal-tab@2x.webp'),
      url('../../images/logout/logout-modal-circle-tab@2x.webp');
  }
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  color: var(--white);
  margin: 0;
  img {
    width: 34px;
  }
}

.text {
  margin: 52px 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
