.doughnut {
  width: 280px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 767px) {
    width: 336px;
    height: 336px;
  }

  @media (min-width: 1279px) {
    width: 288px;
    height: 288px;
  }
}

.balance {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
