.doughnutContainer {
  margin: 0 auto;
  width: 280px;
  height: 280px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 767px) {
    width: 336px;
    height: 336px;
  }

  @media (min-width: 1279px) {
    width: 288px;
    height: 288px;
  }
}

.doughnut {
  /* font-family: 'Poppins'; */
  z-index: 1000;
}

.text {
  /* font-family: 'Poppins'; */
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  line-height: 1.5;
  display: none;
  color: var(--white);
  @media (min-width: 767px) {
    display: block;
  }
}
.textMobile {
  /* font-family: 'Poppins'; */
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  line-height: 1.5;
  color: var(--white);

  @media (min-width: 767px) {
    display: none;
  }
}
.balance {
  position: absolute;
  /* font-family: 'Poppins'; */
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: var(--white);
  z-index: 500;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.positiveBalance {
  color: var(--white);
}

.negativeBalance {
  color: var(--dashboard-text);
}
