.general_wrap {
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: calc(100vh - 240px);
  @media only screen and (min-width: 768px) {
    overflow-y: unset;
    display: flex;
    height: unset;
    justify-content: space-evenly;
    max-height: calc(100vh - 317px);
  }
  @media only screen and (min-width: 1280px) {
    max-height: calc(100vh - 80px);
  }
}

.donut_wrap {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  @media only screen and (min-width: 768px) {
    gap: 20px;
    /* margin-right: 32px; */
  }
  @media only screen and (min-width: 1280px) {
    margin-left: 49px;
    margin-right: 0;
  }
}
.stat_wrap {
  height: fit-content;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  @media only screen and (min-width: 768px) {
    transform: translateY(20px);
    padding: 0;
    gap: 32px;
  }
  @media only screen and (min-width: 1280px) {
    margin-top: 60px;
    margin-left: 32px;
    margin-right: 16px;
  }
}

.text {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  color: var(--white);
  @media only screen and (min-width: 768px) {
    margin: 0;
  }
  @media only screen and (min-width: 1280px) {
    margin-top: 32px;
    padding-left: 15px;
  }
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #40357d;
  opacity: 0.6;
}

.scroll::-webkit-scrollbar {
  border-radius: 5px;
  width: 8px;
  background-color: #40357d;
}
