.general_wrap {
  width: 100%;
  overflow-y: scroll;
  max-height: calc(100vh - 240px);
  @media only screen and (min-width: 768px) {
    display: flex;
    justify-content: space-evenly;
    max-height: calc(100vh - 317px);
  }
  @media only screen and (min-width: 1280px) {
    max-height: calc(100vh - 80px);
  }
}
.general_wrap::-webkit-scrollbar {
  display: none;
}
.general_wrap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.donut_wrap {
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  @media only screen and (min-width: 768px) {
    gap: 20px;
    margin-right: 32px;
  }
  @media only screen and (min-width: 1280px) {
    margin-left: 69px;
  }
}
.stat_wrap {
  height: fit-content;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media only screen and (min-width: 768px) {
    transform: translateY(20px);
    padding: 0;
    gap: 32px;
  }
  @media only screen and (min-width: 1280px) {
    margin-top: 60px;
    margin-left: 32px;
    margin-right: 16px;
  }
}

.text {
  display: block;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  color: var(--white);
  @media only screen and (min-width: 768px) {
    margin: 0;
  }
  @media only screen and (min-width: 1280px) {
    margin-top: 32px;
    padding-left: 15px;
  }
}
