.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(
    96.76deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  width: 44px;
  height: 44px;
  transition: all 300ms ease-in-out;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.icon {
  color: #ffffff;
  width: 28px;
  height: 28px;
  line-height: 1;
}

.btn:hover {
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.4);
  scale: 1.05;
}

.btn:active {
  transform: scale(1.08);
}

@media only screen and (min-width: 768px) {
  .btn {
    bottom: 40px;
    right: 40px;
  }
}
