.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  /* padding-top: 60px; */
  /* top: 0;
  right: 0;
  bottom: 0;
  left: 0; */

  width: 100%;
  height: 100vh;
  /* min-height: 100vh; */
  background-image: url('../../images/login/login-modal-mob@1x.webp'),
    url('../../images/login/login-modal-circle-mob@1x.webp');
  background-color: var(--form-color);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  .backdrop {
    background-color: var(--background);
    background-size: 100% 100%;
    background-image: url('../../images/register/bg-register-tab@1x.webp');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .backdrop {
    background-image: url('../../images/register/bg-register-tab@2x.webp');
  }
}

@media only screen and (min-width: 1280px) {
  .backdrop {
    background-image: url('../../images/register/bg-register-desk@1x.webp');
  }
}
@media only screen and (min-width: 1280px) and (min-resolution: 192dpi) {
  .backdrop {
    background-image: url('../../images/register/bg-register-desk@1x.webp');
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;

  background-repeat: no-repeat;
}
@media only screen and (min-resolution: 192dpi) {
  .modal {
    background-image: url('../../images/login/login-modal-mob@2x.webp'),
      url('../../images/login/login-modal-circle-mob@2x.webp');
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    border-radius: 8px;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    width: 533px;
    height: 624px;
    padding: 40px 62px;
    background-position: -60px -60px;
    background-size: 125% 125%;
    background-image: url('../../images/register/register-modal-tab@1x.webp'),
      url('../../images/register/register-circle-tab@1x.webp');
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .modal {
    background-image: url('../../images/register/register-modal-tab@2x.webp'),
      url('../../images/register/register-circle-tab@2x.webp');
  }
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.btns {
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  @media (min-width: 768px) {
    margin-top: 40px;
  }
}
