.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #101010;
  background-size: 100% 100%;
}

@media only screen and (min-width: 768px) {
  .backdrop {
    background-image: url("/public/login-background-tab@1x.webp");
    background-color: #101010;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .backdrop {
    background-image: url("/public/login-background-tab@2x.webp");
    background-color: #101010;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 1440px) {
  .backdrop {
    background-image: url("/public/login-background-desk@1x.webp");
    background-color: #101010;
    background-repeat: no-repeat;
  }
}
@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .backdrop {
    background-image: url("/login-background-desk@2x.webp");
    background-color: #101010;
    background-repeat: no-repeat;
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 98px 20px;
  background-image: url("/login-modal-mob@1x.webp"),
    url("/login-modal-circle-mob@1x.webp");
  background-color: var(--form-color);
  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 100%;
}
@media only screen and (min-resolution: 192dpi) {
  .modal {
    background-image: url("/public/login-modal-mob@2x.webp"),
      url("/public/login-modal-circle-mob@2x.webp");
    background-color: var(--form-color);
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 768px) {
  .modal {
    width: 533px;
    height: 624px;
    padding: 40px 62px;
    /* background-position: center, 148px 320px;
    background-image: url("/login-modal-desk@1x.webp"),
      url("/login-modal-circle-desk@1x.webp");
    background-color: var(--form-color);
    background-repeat: no-repeat; */
  }
}
/* @media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .modal {
    background-image: url("/login-modal-desk@2x.webp"),
      url("/login-modal-circle-desk@2x.webp");
    background-color: var(--form-color);
    background-repeat: no-repeat;
  }
} */

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  color: var(--white);
  margin: 0;
  img {
    width: 34px;
  }
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 40px;
  margin-top: 40px;
}

.inputGroup {
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--white-60);
}

.input {
  display: flex;
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--white-40);
  width: 280px;
  height: 35px;
  padding-left: 50px;
  color: var(--white-60);
}
@media only screen and (min-width: 768px) {
  .input {
    width: 409px;
  }
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 25px;
  height: 24px;
  font-size: 20px;
  color: gray; /* Колір іконки */
}

.error {
  color: red;
  position: absolute;
  top: 3em;
  font-size: 0.7em;
  padding-left: 50px;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.btnColor {
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    167deg,
    rgb(255, 199, 39) 0%,
    rgb(158, 64, 186) 61.46%,
    rgb(112, 0, 255) 90.54%
  );
  color: var(--white);
}
@media only screen and (min-width: 768px) {
  .btnColor {
    width: 300px;
  }
}

.btnWhite {
  border: 1px solid #4a56e2;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  color: var(--text-button);
}
@media only screen and (min-width: 768px) {
  .btnWhite {
    width: 300px;
  }
}
