.monthYearPick {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  max-width: 295px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
}

@media only screen and (min-width: 768px) {
  .monthYearPick {
    width: 336px;
    flex-direction: row;
    gap: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .monthYearPick {
    width: 395px;
  }
}
