.monthYearPick {
  max-width: 295px;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  border: 1px solid var(--white-60, rgba(255, 255, 255, 0.6));
  margin-bottom: 20px;
  color: #ffffff1a;
}
