.div {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 13px;
  overflow-y: scroll;
  max-height: calc(100vh - 240px);
  @media only screen and (min-width: 768px) {
    max-height: calc(100vh - 410px);
    padding: 0 20px;
  }
  @media only screen and (min-width: 1280px) {
    max-height: calc(100vh - 240px);
    margin-top: 46px;
    padding: 0 16px 0 69px;
    display: block;
  }
}
.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #40357d;
  opacity: 0.6;
}

.scroll::-webkit-scrollbar {
  border-radius: 5px;
  width: 8px;
  background-color: #40357d;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #8212be;
}
