.div {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  overflow-y: scroll;
  scrollbar-width: 0px;
  max-height: calc(100vh - 240px);
  @media only screen and (min-width: 768px) {
    overflow-y: unset;
    max-height: calc(100vh - 317px);
  }
  @media only screen and (min-width: 1280px) {
    max-height: calc(100vh - 80px);
    padding: 0 16px 0 69px;
    display: block;
  }
}

.div::-webkit-scrollbar {
  display: none;
}
.div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
