.formButton {
  width: 280px;
  height: 50px;
  border-radius: 20px;
  box-shadow: 1px 9px 15px 0px rgba(0, 0, 0, 0.2);

  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.1em;
  transition: all 0.5s ease 0s;
}

/* Variant styles: 1) Multi color button, 2) White button */

/* 1) Multi color button */
.multiColorButtton {
  color: rgba(251, 251, 251, 1);
  background: linear-gradient(
    96.76deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );
}

.multiColorButtton:hover {
  transform: scale(1.05);
  background-image: linear-gradient(
    to right,
    #7000ff 0%,
    #9e40ba 31%,
    #ffc727 100%
  );
  background-size: 200%;
  background-position: right center;
  transition: all 1s ease 0s;
}

.multiColorButtton:active {
  transform: scale(1.08);
  font-size: 19px;
}

/* 2) White button */
.whiteButtton {
  color: #623f8b;
  background: #fcfcfc;
}

.whiteButtton:hover {
  transform: scale(1.05);
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255) 0%,
    rgb(98, 63, 139) 31%,
    rgb(255, 255, 255) 100%
  );
  background-size: 200%;
  background-position: right center;
  transition: all 1s ease 0s;
}

.whiteButtton:active {
  transform: scale(1.08);
  font-size: 19px;
}

@media screen and (min-width: 768px) {
  .formButton {
    width: 300px;
  }
}
