.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto auto;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.title {
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}
