.addModal {
  position: fixed;
  top: 60px;
  left: 0;

  height: calc(100vh - 60px);
  width: 100%;

  z-index: 100;

  background: linear-gradient(
    0deg,
    rgba(83, 61, 186, 1) 0%,
    rgba(80, 48, 154, 1) 43.14%,
    rgba(106, 70, 165, 1) 73.27%,
    rgba(133, 93, 175, 1) 120.03%
  );
  box-shadow: 0px 4px 60px 0px #00000040;
  backdrop-filter: blur(50px);

  overflow: auto;
}

.addModal::-webkit-scrollbar {
  display: none;
}

@media screen and (min-width: 768px) {
  .addModal {
    top: 0;
    min-height: 100vh;
    background: #220d5b3b;
    /* background: rgba(34, 13, 91, 0.231); */
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    padding: 40px 114px;
  }
}
