.wrapper {
  z-index: 10000;
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(7px);
  background: rgba(34, 13, 91, 0.23);
}
.content {
  position: relative;
  background-color: white;
  /* padding: 20px; */
  overflow: hidden;
  max-width: 1000px;
  border-radius: 5px;
  h1 {
    font-size: 2rem;
  }
}
.closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
