.header {
  position: static;
  min-height: 60px;
  padding: 12px 20px;
  .logo {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    font-family: var(--font-family);
  }
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25),
    inset 0 -3px 2px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(276deg, #2e1746 3.19%, #2e225f 100%);
}

@media only screen and (min-width: 768px) {
  .header {
    min-height: 80px;
    padding: 16px 32px;
    .logo {
      font-size: 17px;
      line-height: 1.5;
    }
  }
}

.user {
  display: flex;
  align-items: center;
  color: var(--white-60);
  span {
    padding: 0 10px;
  }
  button {
    border: none;
    border-left: 1px solid var(--white-60);
    background-color: transparent;
    color: var(--white-60);
    padding-left: 12px;
    display: flex;
    align-items: center;
    gap: 7px;
  }
}
