@font-face {
  font-family: 'Poppins Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Regular'),
    url('./fonts/Poppins/Poppins-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Poppins SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins SemiBold'),
    url('./fonts/Poppins/Poppins-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Poppins Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Poppins Bold'),
    url('./fonts/Poppins/Poppins-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Circe';
  font-style: normal;
  font-weight: normal;
  src: local('Circe'), url('./fonts/Circe/CRC55.woff') format('woff');
}

@font-face {
  font-family: 'Circe Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Circe Bold'), url('./fonts/Circe/CRC65.woff') format('woff');
}
