.table {
  width: 100%;
  border-collapse: collapse;
}

.title {
  padding: 16px 10px 16px 20px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
}

.thead {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(82, 59, 126, 0.6);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.t_row td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: table-cell;
}

.t_row td:last-child {
  display: table-cell;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
