/* .content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media only screen and (min-width: 768px) {

} */
.table {
  width: 100%;
  /* border-collapse:separate; */
  /* border-spacing: 1px; */
  overflow: hidden;
}

.tbody {
  width: 100%;
}
.title {
  padding: 16px 10px 16px 20px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
}

.thead {
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(82, 59, 126, 0.6);
}
