.table {
  width: 100%;
  border-collapse: collapse;
  @media only screen and (min-width: 768px) {
    max-height: 100%;
    box-shadow: 0 40px 60px 0 rgba(0, 0, 0, 0.25);
  }
}

.title {
  text-align: start;
  padding: 16px 10px 16px 20px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
}

.thead {
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(82, 59, 126, 0.6);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}
.sum {
  text-align: right;
}
.title:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.title:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
