.table {
  width: 100%;
  margin-top: 46px;
  border-collapse: collapse;
}
.title {
  padding: 16px 10px 16px 20px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: var(--white);
}

.thead {
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(82, 59, 126, 0.6);
  width: 100%;
  border-collapse: collapse;
}
.tbody {
  width: 100%;

  border-collapse: collapse;
}
.tbody_scroll {
  max-height: calc(100vh - 240px);
  overflow-y: scroll;
}

.tbody_scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(70, 20, 59, 0.589) rgba(180, 128, 172, 0.411);
  scroll-behavior: smooth;
  scrollbar-gutter: stable both-edges;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.t_row td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: table-cell;
}

.t_row td:last-child {
  display: table-cell;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
