.inputGroup {
  position: relative;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--white-60);
}

.input {
  display: flex;
  border: none;
  background: transparent;
  border-bottom: 1px solid var(--white-40);
  width: 280px;
  height: 35px;
  padding-left: 50px;
  color: var(--white-60);
}
@media only screen and (min-width: 768px) {
  .input {
    width: 409px;
  }
}

.inputIcon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 25px;
  height: 24px;
  font-size: 20px;
  color: var(--white-40);
}
.inputIconLast {
  top: 35%;
}

.error {
  color: var(--yellow);
  position: absolute;
  top: 3.5em;
  font-size: 0.7em;
  padding-left: 50px;
}

.progressBarComponent {
  width: auto;
}
