.wrapper {
  width: 320px;
  height: 214px;
  overflow: hidden;
  @media only screen and (min-width: 768px) {
    width: 336px;
    tr > td {
      padding: 0;
    }
  }
  @media only screen and (min-width: 1280px) {
    width: 480px;
    height: 380px;
    .wrapper tr > td:first-child {
      padding-left: 60px;
    }
    td:nth-child(3n) {
      padding-right: 100px;
    }
  }
  .table {
    width: 100%;
    color: var(--white);
    thead {
      font-weight: bold;
      background: rgba(255, 255, 255, 0.2);
    }
    td {
      padding: 8px;
      text-align: center;
      @media only screen and (min-width: 768px) {
        padding: 12px;
      }
      @media only screen and (min-width: 1280px) {
        padding: 16px;
      }
    }
  }
}
