.wrapper {
  width: 320px;
}
.table {
  width: 100%;
  color: var(--white);
  thead {
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
  }
  td {
    padding: 16px;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 336px;
  }
  tr > td {
    padding: 0;
  }
}
@media only screen and (min-width: 1280px) {
  .wrapper {
    width: 480px;
  }
  tr > td:first-child {
    padding-left: 60px;
  }
  td:nth-child(3n) {
    padding-right: 100px;
  }
}
