.wrapper {
  width: 480px;
}
.table {
  width: 100%;
  color: var(--white);
  thead {
    font-weight: bold;
    background: rgba(255, 255, 255, 0.2);
  }
  td {
    padding: 16px;
    text-align: center;
  }
  tr > td:first-child {
    padding-left: 60px;
  }
  td:nth-child(3n) {
    padding-right: 100px;
  }
}
