.undelete_toast {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 5px;
  font-size: 18px;
  h3 {
    font-weight: 600;
    text-align: center;
    color: var(--icon-violet);
  }
  p {
  }
  .info {
    font-weight: 600;
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .comment {
  }
  .sum {
  }
}
.btns {
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  .delete_btn {
    background-color: var(--dashboard-text);
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
    color: var(--white);
  }
  .undelete_btn {
    background-color: var(--icon-violet);
    padding: 5px;
    font-weight: 600;
    border-radius: 5px;
    color: var(--white);
  }
}
