.wrapper {
  height: 100vh;
  background-color: #101010;
  background-image: url("../../images/Dashboard/background-mob.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    background-image: url("../../images/Dashboard/background-tab.png");
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    background-image: url("../../images/Dashboard/background-desc.png");
  }
}

.error {
  color: var(--white);
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.link {
  display: inline-block;
  color: var(--white);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: transform 0.3s ease-in-out;
}
.link:hover,
.link:focus {
  transform: scale(1.1);
}
