.wrapper {
  height: 100vh;
  background-color: #101010;
  background-image: url("../../images/Dashboard/background-mob.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    background-image: url("../../images/Dashboard/background-tab.png");
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
    background-image: url("../../images/Dashboard/background-desc.png");
  }
}
.link {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  padding: 15px;

  text-decoration: none;
  color: lightgray;
  transition: color 0.3s;
}
.link:hover {
  color: black;
}
